.about .container{
    display: flex;
  width: 39.375rem;
  justify-content: center;
  align-items: center;
  border-radius: 21.875rem;
  background: linear-gradient(144deg, #C961DE 0%, #2954A3 100%);
  }