:root {

  /* colors */
  --clr-primary: hsla(0, 0%, 100%, 1);

  --clr-accent-1:hsla(239, 62%, 15%, 1);
  --clr-accent-2:hsla(240, 57%, 25%, 1);
  --clr-accent-3: hsla(219, 60%, 40%, 1);
  --clr-accent-4:hsla(240, 49%, 36%, 1);
  --clr-accent-5:hsla(290, 65%, 63%, 1);

  /* FW */
  --fw-regular: 400;  /* body & button */
  --fw-semi-bold: 500; /* nav & copyright */
  --fw-bold: 700;   /* titles */

  /* FS */






  
  --fs-navbar-500:1.0625rem;
  --fs-cpoyright-500:0.9375rem;

  --fs-button-400:1.0625rem;
  --fs-body-400:1.0625;

  --fs-contact-400:0.9375rem;
  --fs-footer-400:1.0625rem;

  --fs-title-700:3.75rem;
  --fs-h2-700:1.25rem;
  --fs-read-700:1.0625;
  
  --fs-proj-title-700:1.875rem;
  --fs-proj-subtitle-700:1.5rem;

  /* --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem; */

  --ff-primary:'Poppins', sans-serif;
  /* --font-family-default:'Poppins', sans-serif; */

  
  /* Typo */
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  /* linear gradients */


}
/* :root {
  --clr-accent-500: hsl(12, 60%, 45%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
  we don't have to change that in the media query
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
} */

/* RESET : https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default 
styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* à chercher */
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* this can bring some issues, 
so now they're fixed it's good to keep  */
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* à chercher */
/* A elements that don't have a class get 
default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* to keep for accessibility */
/* Remove all animations, transitions 
and smooth scroll for people that prefer 
not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}


.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}


/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}
